body {
    margin: 0;
    text-align: center;
    background-color: #1a1c20;
}

h1 {
    color: #e0ffff;
}

h2 {
    color: #e0ffff;
}

h3 {
    color: #e0ffff;
}

h4 {
    color: #e0ffff;
}

p {
    color: #e0ffff;
}

hr {
    margin: 0;
}

ul {
    color: #f4f4f4;
}

li {
    color: #f4f4f4;
    list-style-type: none;
}

label {
    color: #1a1c20;
}

img {
    height: 200px; 
    width: 300px; 
    transition: transform .2s;
    margin: 0 auto;
}  
 img :hover {
        transform: scale(1.5);
    }

.contact-form {
    background-color: #f4f4f4;
    position: relative;
    width: 20%;
    display: inline-block;
}

.top-container {
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;;
}

.homeHeading {
    color: #e0ffff;
    text-align: center;
    font-size: 1000%;
    line-height: 200px;
    height: 200px;
    animation: bounceIn 2s;
}

#homeSubHeading {
    color: #e0ffff;
    font-size: 200%;
    animation: bounceIn 2s;
}

.headerNav {
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
}


.headerNav ul {
    list-style-type: none;
    padding: 10px;
}

.headerNav li {
    display: inline;
    padding: 0 20px 0 20px;
}

.headerNav {
    text-decoration: none;
}

.footerNav {
    position: fixed;
    bottom: 40px;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
}

.footerNav ul {
    list-style-type: none;
    padding: 10px;
}

.footerNav li {
    display: inline;
    padding: 0 20px 0 20px;
}

.footerNav {
    text-decoration: none;
}

a:link {
    color:#feffff;
  }

a:visited {
    color:#feffff;
}
  
  a:hover {
    color: #dda0dd;
  }

  a.homeButton {
    display: inline-block;
    padding: 0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    }
    a.homeButton:hover{
    color:#000000;
    background-color:#FFFFFF;
    }
    @media all and (max-width:30em) {
     a.homeButton {
        display:block;
        margin:0.4em auto;
        }
    }

  @keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }

  