body {
    margin: 0;
    text-align: center;
    background-color: #1a1c20;
}

h1 {
    color: #f4f4f4;
}

h3 {
    color: #f4f4f4;
}

hr {
    margin: 0;
}

.top-container {
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;;
}

nav {
    position: sticky;
    text-align: right;
}
